@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600;700&family=Roboto:ital,wght@0,400;0,700;1,400&display=swap");

$primary-font: "Roboto", sans-serif;
$secondary-font: "Josefin Sans", sans-serif;
$text-color: #000;
$white-color: #fff;
$primary-color: #ab46d2;
$dark-color: #161a30;
$light-color: aliceblue;
$light-dark-color: #162447;
$shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
$transition: all 0.23s;
